#search-form {
  font-family: "Poppins", sans-serif;
  grid-column: 4/10;
  width: 370px;
  grid-row: 1;
  display: inline-flex;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 5px;
}

#searchBy {
  font-family: "Poppins", sans-serif;
}

#clientInput {
  font-family: "Poppins", sans-serif;
}

#searchTitle {
  font-size: 18px;
  font-weight: 700;
}

#renderWarning {
  padding: 0;
  margin: 0;
  grid-row: 2;
  grid-column: 3/11;
  text-align: center;
}

#search-results {
  text-align: center;
  grid-column: 3/11;
  grid-row: 3;
}
