#footer {
  color: white;
  width: 100%;
  z-index: 2;
  padding: 10px;
  background-color: #5cbdb9;
  transition: 0.5s ease;
  overflow-x: hidden;
  align-items: center;
  position: absolute;
  bottom: 0;
}

#createdByText {
  font-size: 12px;
  align-content: center;
}
